{% extends '_base.html' %}

{% block title %}Blog{% endblock %}


{% block divwrap %}
<div class="am-g am-g-fixed blog-fixed">
{% endblock %}


{% block content %}
  <div class="am-u-md-8 am-u-sm-12">

    {% for blog in blogs %}
    <article class="am-g blog-entry-article">
      <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
        <img src="/static/img/f12.jpg" alt="" class="am-u-sm-12">
      </div>
      <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
        <h1><a href="/blog/{{ blog.id }}">{{ blog.title }}</a></h1>
        <span><a href="#" class="blog-color"> 分类 </a></span>&nbsp;|&nbsp;
        <span><a href="/user/{{ blog.user_id }}"> @{{ blog.user_name }} </a></span>&nbsp;|&nbsp;
        <span> 发表于 {{ blog.created_at|datetime_filter }} </span>
        <p>{{ blog.summary }}</p>
        <p><a href="/blog/{{ blog.id }}" class="blog-continue">继续阅读</a></p>
      </div>
    </article>
    {% endfor %}


    <ul class="am-pagination">
      <li class="am-pagination-prev"><a href="">&laquo; Prev</a></li>
      <li class="am-pagination-next"><a href="">Next &raquo;</a></li>
    </ul>

  </div>
{% endblock %}


{% block divwrapend %}
</div>
{% endblock %}