/* html { */
    /* background: #3e5771; */
    /* background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%); */
/* } */

.nav-right {
    float: right;
    margin-top: 0;
}

.am-dropdown .am-dropdown-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 400ms linear;
    padding: 0;
    margin: 0;
    /* display: none; */
}

.am-dropdown:hover .am-dropdown-content {
    visibility: visible;
    opacity: 1;
    /* display: block; */
}

.am-dropdown .am-dropdown-content li a{
    transition: color 300ms;
}

.am-dropdown .am-dropdown-content li a:hover {
    color: #10D07A;
}

#blog .blog-entry-img img {
    box-shadow: 0 38px 32px -23px black;
}

.am-form input[type=name].am-radius {
    border-radius: 2px;
}

.am-form input[type=name] {
    display: block;
    width: 100%;
    padding: .5em;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.log-content {
    margin-top: 6%;
}